<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.criteo.publisher">

  <application
    android:networkSecurityConfig="@xml/network_security_config">
    <activity android:name="com.criteo.publisher.test.activity.DummyActivity"/>

    <activity
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:name="com.mopub.mobileads.MoPubActivity"/>
  </application>

</manifest>