<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.criteo.pubsdk_android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <!--
  MoPub requires minSdk=19, while the SDK had minSdk=16
  See https://developer.android.com/studio/build/manifest-merge#override_uses-sdk_for_imported_libraries
  -->
  <uses-sdk tools:overrideLibrary="com.criteo.mediation.mopub,
      com.mopub.mobileads.base,
      com.mopub.mobileads.banner,
      com.mopub.mobileads.interstitial,
      com.mopub.mobileads.native_static,
      androidx.media2.common,
      androidx.media2.player,
      androidx.media2.session,
      androidx.media2.widget" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".PubSdkDemoApplication"
    android:networkSecurityConfig="@xml/network_security_config"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MopubMediationActivity">
    </activity>
    <activity
      android:label="@string/title_activity_standalone"
      android:name=".StandaloneActivity"
      android:configChanges="orientation|screenSize"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-8459323526901202~2792049297"/>

    <activity
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_splash"
      android:name=".SplashActivity"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_dfp"
      android:name=".DfpActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_mediation"
      android:name=".MediationActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>
    <activity
      android:name=".InHouseActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:name=".AdMobMediationActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:name=".PrivacyConsentSelectorActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:name=".integration.IntegrationSelectorActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:name=".GdprActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:name=".StandaloneRecyclerViewActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.criteo.pubsdk_android.MainActivity"/>
    </activity>

    <activity
      android:label="@string/title_activity_mopub"
      android:name=".MopubActivity"
      android:configChanges="orientation|screenSize"
      android:theme="@style/AppTheme"/>

  </application>

</manifest>